$player-width: 640px;

* {
    font-family: 'Roboto';
}

.container {
    margin: 0 auto;
    width: $player-width;
}

.actions {
    button {
        margin: 0 10px;
    }
    margin-top: 15px;
    text-align: center;
}